{{setPageTitle "Walima"}}
{{setActiveNav "walima"}}
{{setYUIModule "le-walima"}}
{{setDescription "The details of Zainab Zahra’s & Ahmed Jafri’s walima."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/walima.css"}}

<div id="map" lat="47.5902" long="-122.2274" zoom="13"></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Walima</span>
        <span class="ann-primary">July 15th, 2018</span>
        <span class="ann-secondary">Mercer Island, WA</span>
    </h1>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="p" href="/logistics/">Get There</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">
        <h2 id="ceremony" class="anchored-header">
            Walima Reception
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The Walima will begin, <em>promptly</em>, on <b>Sunday at 6:00pm</b>. It will be held at the Mercer Island Community & Event Center.
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <a href="https://goo.gl/maps/MXBcfQwWaHG2">
                        <b>Mercer Island Community & Event Center</b><br>
                        8236 SE 24th St<br>
                        Mercer Island, WA 98040
                    </a>
                </address>
            </div>
        </div>
    </div>
</div>
